<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
         IgnorableNamespaces="uap uap10">
  <Identity Name="LiquidGlassStudio" Publisher="CN=Liquid Glass Studio" Version="1.0.0.0" ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>Liquid Glass Studio</DisplayName>
    <PublisherDisplayName>Liquid Glass Studio</PublisherDisplayName>
    <Description>Liquid Glass Studio desktop application.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Applications>
    <Application Id="App"
                 Executable="Liquid Glass Studio.exe"
                 uap10:RuntimeBehavior="packagedClassicApp"
                 uap10:TrustLevel="mediumIL">
      <uap:VisualElements
        DisplayName="Liquid Glass Studio"
        Description="Liquid Glass Studio desktop application."
        BackgroundColor="#07070c"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png" />
    </Application>
  </Applications>
</Package>
